@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

/* header section */
:root {
  --primary: #0d6efd;
  --dark: #21252f;
  --body: #888;
  --box-shadow: 0 8px 22px rgba(0, 0, 0, 0.2);
}

body {
  font-family: 'Sora', sans-serif;
  line-height: 1.7;
  color: var(--body);
}

h1,
h2,
h3,
h4,
h5,
h6,
.display-4 {
  color: var(--dark);
  font-weight: 700;
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
}

a:hover {
  color: #fff;
}

.navbar .nav-link {
  font-size: 14px;
  font-weight: 700;
}

.navbar .nav-link {
  color: #fff !important;
}

.btn {
  padding: 14px 18px;
  border-width: 2px;
  border-radius: 0;
}

.btn {
  -webkit-transform: skew(-15deg);
  transform: skew(-15deg);
  color: #fff;
  border-radius: 0;
  background-image: -webkit-gradient(linear, left top, right top, from(#2af598), to(#009efd));
  background-image: -webkit-linear-gradient(left, #2af598 0%, #009efd 100%);
  background-image: linear-gradient(90deg, #2af598 0%, #009efd 100%);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}

.btn:hover {
  -webkit-transform: skew(0);
  transform: skew(0);
  color: #fff;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
  box-shadow: 0 2px 3px rgba(0, 0, 0, .1);
}